@import 'fonts';

#header {
	.brand-logo {
		margin: 6px 0
	}

	#nav-mobile a {
		font-weight: bold;
	}

	.sub-nav {
		position: absolute;
		right: 0;
		top: 64px;
		width: 500px;
		padding: 30px;
		display: none;

		.col {
			padding: 0
		}

		.second {
			margin-left: 12px
		}

		h3 {
			font-size: 35px;
			letter-spacing: .55px;
			margin: 0 0 10px;
			padding-bottom: 15px;
			border-bottom: 2px solid #fff
		}

		li {
			display: block;
			float: none;
			padding: 0;
			margin: 18px 0;
			line-height: 1;
		}

		a {
			background-color: transparent;
			padding: 0;

			span {
				font-size: 20px
			}
		}
	}
}

#slider {
	.filter {
		background-color: rgba(0,0,0,.35);
		height: 450px;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;

		h3 {
			margin-bottom: 0;
		}

		h3, h5 {
			text-shadow: 1px 1px 0px rgba(0, 0, 0, 1);
		}

		a {
			margin-top: 25px
		}
	}

	.indicators {
		bottom: 20px;
		z-index: 10;

		.indicator-item {
			height: 14px;
			width: 14px;

			&.active {
				background-color: #b7251e
			}
		}
	}

	.carousel-item {
		background-size: cover;
		background-position: center center;
	}

	.bg-infra {
		background-image: url(../img/banner1.jpg);
	}

	.bg-healthcheck {
		background-image: url(../img/banner2.jpg);
	}

	.bg-devops {
		background-image: url(../img/banner3.jpg);
	}
}

#content {
	padding: 85px 0 140px;

	&.home-content {
		padding-bottom: 40px;
	}

	.quote {
		max-width: 795px
	}

/*	blockquote {
		font-family: Georgia, serif;
		font-size: 36px;
		font-style: italic;
		position: relative;
		border-left: 0;
		padding-left: 70px;
		color: #b7251e;

		&:before {
			display: block;
			content: "\201C";
			font-size: 170px;
			position: absolute;
			left: -20px;
			top: -70px;
			color: #ef9a9a;
		}

		h1 {
			@extend .open;
			font-size: 32px;
			margin: 0 auto
		}
	}*/
	.about {
		@extend .open;
		font-size: 32px;
		font-style: italic;
		text-align: center;
		color: #b7251e;
		margin: 0 auto
	}

	.separator {
		width: 50%;
		max-width: 450px;
		min-width: 200px;
		margin: 60px auto 80px
	}

	h2, h3 {
		@extend .titillium;
	}

	h2 {
		color: #b7251e;
	}

	.title {
		h2 {
			font-size: 60px;
			line-height: 72px;
			margin: 0 auto;
		}

		h3 {
			font-size: 20px;
		    color: #000;
		    margin: 7px auto 80px;
		    font-style: italic;
		}
	}

	.service {
		float: left;
		padding: 0 30px 50px;

		.img {
			background-image: url(../img/sprite-servicos.png);
	    	background-repeat: no-repeat;
			width: 140px;
			height: 140px;
			margin: 0 auto
		}

		.consultoria {
			background-position: 0 0;
		}

		.projetos {
			background-position: 0 -141px;
		}

		.suporte {
			background-position: 0 -282px;
		}

		.outsourcing {
			background-position: 0 -423px;
		}

		.produtos {
			background-position: 0 -564px;
		}

		h2 {
			font-size: 35px;
			margin: 17px auto 5px;
		}

		h3 {
			@extend .open;
			font-size: 17px;
			line-height: 28px;
			color: #7a7a7a;
			margin: 0 auto
		}
	}

	.btn {
		display: block;
		width: 178px;
		margin: 0 auto 20px;
		float: none;
	}
}

#footer {
	.links {
		margin-bottom: 5px;

		h5 {
			font-size: 25px;
			font-family: Arial, sans-serif;
			letter-spacing: .4px
		}

		.col {
			padding: 0
		}

		a {
			line-height: 25px;

			span {
				font-size: 19px
			}
		}
	}
}

#contato {
	background-color: #fdfdfd;

	.cover {
		background-image: url(../img/bg-contato.jpg);
	}

	.full {
		max-width: 100%;
		padding: 0;

		.container {
			width: 90%
		}
	}

	.left-block {
		padding: 220px 0 0;

		.container {
			max-width: 442px;
			margin-right: 94px;
		}
	}

	.title-section {
	    font-weight: 600;
	    font-size: 16px;
	    letter-spacing: 1.4px;
	    color: #ef3e42;
	    margin: 0 0 11px;
	}

	.title-bigger {
	    font-weight: 700;
	    font-size: 42px;
	    line-height: 56px;
	    color: #222328;
	    margin: 0 0 13px;
	}

	.desc-section {
		font-size: 17.5px;
	    line-height: 32px;
	    text-align: justify;
	    margin: 0
	}

	.sub-content {
		margin: 0;

		h3 {
			font-size: 16px;
			letter-spacing: 1.5px;
			color: #222328;
			margin: 51px 0 13px;
			font-weight: 700;

			i.left {
				margin-right: 5px;
				color: #b7251e
			}

			span {
				padding-top: 8px;
				display: inline-block;
			}

			.email {
				padding-top: 7px
			}

			&.outro {
				margin-top: 25px;
			}
		}

		p {
			color: #6b6b6b;
			margin: 0 0 5px 29px;
			font-size: 15.5px
		}
	}

	.bg {
		background-color: #f9f8f5;
		margin: 8px 0;
		padding: 116px 0;

		.box {
			box-sizing: border-box;
			max-width: 575px;
			padding: 86px 76px;
			margin-left: -34px;
			background-color: #fff;
			box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.05);
		}

		form {
			margin-top: 35px;
		}

		.btn {
			width: 100%;
			max-width: 100%;
			padding: 0;
			margin: 0;
			line-height: 52px;
			height: 52px;
			border-radius: 25px;
			color: #fff;
			font-size: 15.5px;
  			font-weight: 800;
		}
	}
}

#quem-somos {
	#content {
		padding-bottom: 40px
	}

	.cover {
		background-image: url(../img/bg-quem-somos.jpg);

		.filter {
			background-color: rgba(0,0,0,.5);
		}

		h1 {
			line-height: 75px;
			text-shadow: 1px 1px 0 #000;
		}
	}

	.subtitle {
		@extend .open;
		font-size: 20px;
		margin: 27px auto;
		line-height: 1.7;

		span {
			display: block;
			margin-top: 20px;
		}

		a {
			color: #b7251e;
			border-bottom: 1px solid transparent;
		   	-webkit-transition: border-bottom .4s;
		    -moz-transition: border-bottom .4s;
		    -ms-transition: border-bottom .4s;
		     -o-transition: border-bottom .4s;
		        transition: border-bottom .4s;

			&:hover {
				border-bottom: 1px solid rgba(183,37,30,.7);
			    -webkit-transition: border-bottom .5s;
			    -moz-transition: border-bottom .5s;
			    -ms-transition: border-bottom .5s;
			     -o-transition: border-bottom .5s;
			        transition: border-bottom .3s;
			}
		}
	}

	.socios {
		.title {
			margin-bottom: 10px
		}

		.nome {
			margin: 0 auto 3px;
			font-size: 16px;
		   	-webkit-transition: color .2s;
		    -moz-transition: color .4s;
		    -ms-transition: color .4s;
		     -o-transition: color .4s;
		        transition: color .2s;
/*			display: table;

			strong {
				padding-left: 8px
			}

			strong, a {
				display: table-cell;
				vertical-align: middle;
			}*/
		}

		.funcao {
			margin: 0 auto;
		   	-webkit-transition: color .2s;
		    -moz-transition: color .4s;
		    -ms-transition: color .4s;
		     -o-transition: color .4s;
		        transition: color .2s;
		}

		a {
			color: rgba(0,0,0,.87);
			display: block;
			margin: 40px auto 20px;
		   	-webkit-transition: color .2s;
		    -moz-transition: color .4s;
		    -ms-transition: color .4s;
		     -o-transition: color .4s;
		        transition: color .2s;


			&:hover {
				color: #b7251e;
			}
		}
	}
}

#solucoes {
	.cover {
		background-image: url(../img/home-solucoes-infra-oracle.jpg);
	}

	.card {
		.filter {
			background-color: rgba(0,0,0,.35);
			width: 100%;
			height: 100%;
			position: absolute;
			bottom: 0
		}

		.card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating) {
			@extend .titillium;
			color: #b7251e;
			font-weight: 700;
			letter-spacing: 1px
		}
	}
}

#solucao {
	#content {
		padding: 65px 0 0;

		.block-content {
			max-width: 870px;
		}

		h2, h3, h4, h5, h6 {
			@extend .titillium;
			color: #b7251e;
			text-align: center;
			margin-bottom: 30px
		}

		a {
			color: #b7251e;
			text-decoration: underline;
		}

		p, li {
			font-size: 16px;
			line-height: 1.7;
		}

		ul {
			padding-left: 1.25em;
		}

		li {
			list-style-type: initial;
		}

		img, iframe {
			margin: 2em auto;
		}

		img, iframe {
			display: block;
		}

		img {
			max-width: 100%;
			height: auto;
		}

		.btn {
			width: 320px;
			font-weight: 700;
			padding: 0;
			max-width: 100%;
			color: #fff;
			text-decoration: none;
		}

		.alignleft {
			float: left;
			margin: 1em 1em 0 0;
		}

		.alignright {
			float: right;
			margin: 1em 0 0 1em;
		}

		.dep {
			text-align: center;
			margin: 70px auto 35px;

			h2 {
				margin: 0 auto
			}

			p {
				@extend .titillium;
				color: #000;
				line-height: 110%;
				font-size: 20px;
				margin: 7px auto
			}
		}

		.testimonial_rotator_wrap {
			h3 {
				color: #000;
				margin: 0 0 8px 0
			}

			.testimonial_rotator_author_info p {
				margin: 0;
				line-height: 1.5;
				font-size: 14px;

				&:first-of-type {
					font-size: 15px;
				}
			}

			.testimonial_rotator_img img {
				margin: initial;
			}
		}
	}
}

#solucao-contato {
	background-image: url(../img/bg-contato-solucao.jpg);
	background-size: cover;
	background-position: center center;
	text-align: center;
	padding: 50px 0;
	margin-top: 50px;

	h2 {
		font-family: 'Open Sans',sans-serif!important;
		color: #fff!important;
		font-weight: 700!important;
	}

	&.home-footer {
		padding: 40px 0;

		h2 {
			line-height: 1.3;
			font-size: 40px;
		}
	}

	.btn {
		display: inline-block;
		margin: 5px auto 1.78rem;
		width: auto;
		font-weight: 700;
	}
}

#blog {
	background-color: #f8f8f8;

	.cover {
		background-image: url(../img/bg-blog.jpg);
	}

	#categories {
		height: auto;
		width: 100%;
		margin-bottom: 28px;
		text-align: center;

		.all {
			position: relative;
			line-height: 47px;
			height: 47px
		}

		a {
			font-size: 14px;
			color: #fff;
			opacity: .85;
			letter-spacing: 0.1px;
			margin-right: 2%;
			text-transform: uppercase;
			line-height: 1.5;
			display: inline-block;
			transition: opacity .4s;
			font-weight: 700;

			&:last-of-type {
				margin-right: 0;
			}

			&:hover {
				border-bottom: solid 2px #fff;
				opacity: 1;
			}

			&.selected {
				letter-spacing: 0.5px;
				border-bottom: solid 2px #fff;
				opacity: 1;

			}
		}
	}

	#posts {
		padding: 30px 0 38px;

		article {
			max-width: 854px
		}

		.box {
			border-radius: 2px;
			border: solid 1px #ececec;
			margin-bottom: 15px;
			color: #676d76;
			background-color: #fff;
			display: block;

			.pic {
				padding: 0;
			}

			img {
				max-width: 100%;
				height: auto;
				display: block;
			}

			.content {
				padding: 30px;
			}

			h1 {
				font-size: 24px;
				margin: 0;
				color: #b7251e;
			}

			p {
				font-size: 14.5px;
				line-height: 24px;
				margin: 12px 0 25px
			}

			span {
				color: #b7251e;
				border-bottom: 1px solid rgba(183,37,30,.45);
				font-size: 14px;
				font-weight: 700;
			}
		}
	}

	.paginacao {
		text-align: center;

		span, a {
			margin: 0 5px;
			border-radius: 5px;
			padding: 4px 11px;
			display: inline-block;
			margin-bottom: 10px;
		}

		a {
			color: rgba(0,0,0,.87);
		}

		.current {
			background-color: #b7251e!important;
    		color: #fff;
		}
	}

	.postagem {
		padding: 59px 0 40px;
		max-width: 870px;
		margin: 0 auto;

		h1, h2, h3, h4, h5, h6, p, span, ol, ul, li {
			max-width: 690px;
			margin-left: auto;
			margin-right: auto;
			color: #303439;
		}

		h1, h2, h3, h4, h5, h6 {
			margin-top: 7px;
			margin-bottom: 18px;
			font-weight: 700;
		}

		h1, h2 {
			font-size: 33px;
		}

		h3, h4, h5, h6 {
			font-size: 27px;
		}

		p, ul li {
			font-size: 16px;
			line-height: 34px;
		}

		p {
			margin-bottom: 40px;
		}

		img {
    		height: auto;
		}

		img, iframe {
			max-width: 100%;
			display: block;
    		margin: 40px auto;
		}

		ul, ol {
			padding-left: 2.5em;

			li {
				list-style: inherit;
				float: none;
			}
		}

		.title {
			font-weight: 700;
		    font-size: 40px;
		    line-height: 56px;
		    color: #333;
		    margin: 0 auto 110px;
		    text-align: center;
		}

		.autor {
		    clear: both;
		    margin: 0 auto 56px;
		    max-width: 720px;

		    img {
		    	margin: 0 10px 0 0;
	    		border-radius: 100%;
		    }

		    p {
		    	font-weight: 700;
		    	font-size: 14.5px;
		    	color: #303439;
		    	line-height: 1.5;
		    	margin: 0;

		    	span {
					color: #b7251e
		    	}

		    	&.time {
		    		font-size: 14px;
				    color: #9b9b9b;
				    text-transform: capitalize;
				    @extend .titillium;
		    	}
		    }

		    .share {
		    	float: right;
		    	a {
		    		width: 33px;
		    		height: 33px;
		    		margin-left: 10px;
		    		border-radius: 100%;
		    		float: left;
		    		background-size: cover;

		    		&:first-of-type {
		    			margin-left: 0;
		    		}
		    	}
		    }
		}

		.texto div {
			margin: -40px auto 80px;
			max-width: 100%;
			display: block;
		}
	}

	.share-side {
		position: fixed;
	    left: 0;
	    top: 50%;
	    margin-top: -61.5px;

	    a {
	    	width: 41px;
	    	height: 41px;
	    	display: block;
	    	background-size: cover;
	    }
	}

    .share-fb {
    	background-image: url(../img/share-facebook@2x.png);
    }

    .share-tw {
	    background-image: url(../img/share-twitter@2x.png);
	}

    .share-li {
	    background-image: url(../img/share-linkedin@2x.png);
	}

	#disqus_thread {
		margin-top: 60px
	}
}

#modal {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 2000;
	display: none;

	.fade {
		position: fixed;
	    top: 0;
	    left: 0;
	    height: 100vh;
	    width: 100%;
	    background-color: rgba(0, 0, 0, 0.74);
	    opacity: .85;
	    z-index: 9999
	}

	.box {
		box-sizing: border-box;
		width: 500px;
		padding: 32px 42px;
		position: fixed;
		left: 50%;
		top: 50%;
		-webkit-transform: translate(-50%, -50%);
		-moz-transform: translate(-50%, -50%);
		-o-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
		z-index: 9999;
		border-radius: 3px;
		background-color: #fff;
		border: solid 1px #e6e6e6;

		.close {
			height: 23px;
			clear: both;
		}

		form {
			display: inline-block;
			margin: 20px auto 35px
		}

		.btn {
			width: 100%;
		    max-width: 100%;
		    padding: 0;
		    margin: 0;
		    line-height: 52px;
		    height: 52px;
		    border-radius: 25px;
		    color: #fff;
		    font-size: 15.5px;
		    font-weight: 800;
		}
	}
}

#page404, .page404 {
	height: 100%;
	background-color: #b7251e;

	.container {
		position: relative;
		top: 50%;
		-webkit-transform: translateY(-50%);
		-moz-transform: translateY(-50%);
		-o-transform: translateY(-50%);
		transform: translateY(-50%);

		.box {
			max-width: 912px;
		    border-radius: 3px;
		    background-color: #fff;
		    box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.05);
		    padding: 109px 0;
		    text-align: center;
		}

		h1 {
			font-size: 17px;
			line-height: 32px;
			color: #8c8f94;
		}

		h2 {
			@extend .titillium;
			font-weight: 700;
			font-size: 42px;
			line-height: 56px;
			color: #222328;
		}

		p {
			font-size: 18px;
			line-height: 32px;
			color: #8c8f94;
			margin: 19px auto 62px;
			max-width: 559px;
		}
	}
}

@media (min-width: 1024px) and (max-width: 1279px) {
	#contato .left-block {
		padding-left: 45px;
		box-sizing: border-box;
	}
}

@media (max-width: 1200px) {
	#contato .left-block .container {
		margin-right: 13.5%
	}

	#blog #posts article {
		width: 100%;
	}
}

@media (max-width: 1024px) {
	#blog #categories {
		height: 47px;
		overflow: hidden;

		.all {
			white-space: nowrap;
		    overflow-x: scroll;
		    overflow-y: hidden;
		    height: 60px;
		    padding: 0 2%;
		}

		a {
			margin: 0 2%;

			&:last-of-type {
				margin-right: 2%;
			}
		}
	}
}

@media (min-width: 768px) and (max-width: 1023px) {
	#contato {
		.left-block {
			width: 45%;

			.container {
				margin-right: 5px
			}
		}

		.bg .box {
			margin-left: -20px;
			padding: 86px 50px;
		}
	}

	#blog #posts .box p {
		height: 125px;
		overflow: hidden;
	}
}

@media (max-width: 992px) {
	#blog {
		.container {
			width: 90%;
		}

		.share-side {
			display: none;
		}
	}
}

@media (max-width: 767px) {
	.cover .container h1 {
		font-size: 50px;
	}

	#content {
		padding: 65px 0 120px;
	}

	.slider .slides li .caption {
		width: 90%;
		left: 5%;
	}

	#content .about {
		font-size: 28px;
		line-height: 37px
	}

	#solucao-contato.home-footer h2 {
		font-size: 35px
	}

	#footer {
		text-align: center;

		.links {
			margin-bottom: 15px;

			h5 {
				margin: 40px auto 0
			}
		}

		.footer-copyright {
			text-align: left;
			font-size: 13.5px;
		}
	}

	#contato {
		.left-block {
			padding: 80px 0 70px;

			.container {
				margin: 0 auto;
				float: none!important;
			}
		}

		.bg {
			padding: 75px 15px!important;
			margin: 0;
			box-sizing: border-box;

			.box {
				margin: 0 auto;
				padding: 86px 25px
			}
		}
	}

	#quem-somos {
		.cover h1 {
		 	font-size: 39px;
		 	line-height: 55px;
		}
	}

	#blog #posts .box {
		max-width: 350px;
		margin: 0 auto 15px;

		.col {
			width: 100%
		}
	}

	.footer-copyright span {
		float: left;
	}

	#modal .box {
		width: 95%;
		padding: 32px 25px;
	}
}

@media (min-width: 600px) and (max-width: 767px) {
	#blog #posts {
	    flex-wrap: wrap;
	    display: flex;
	    display: -webkit-box;
	    display: -moz-box;
	    display: -ms-flexbox;
	    display: -webkit-flex;

	    article {
	    	flex-grow: 1;
		    display: inline-block;
		    width: calc(100% * (1/2) - 4%);
	    }
	}
}

@media (max-width: 479px) {
	#solucoes .cover h1 {
		font-size: 52px;
		line-height: 65px
	}

	#solucao-contato h2 {
		font-size: 38px;
		line-height: 45px
	}

	#blog .postagem .autor .share {
	    text-align: center;
	    float: none!important;

		.right, a {
	    	padding-top: 20px;
			float: none!important;
			display: inline-block;
		}
	}

	#page404 .container {
		.box {
			padding: 50px 10px;
			box-sizing: border-box;
		}

		h2 {
			font-size: 39px;
			line-height: 54px;
		}
	}
}

@media (max-width: 374px) {
	.cover .container h1 {
		font-size: 45px;
	}

	#quem-somos {
		.socios {
			.s6 {
				width: 100%;
			}

			a {
				margin-bottom: 0
			}
		}

		.cover h1 {
			font-size: 34px;
			line-height: 50px;
		}
	}

	#solucoes .cover h1 {
		font-size: 44px;
		line-height: 57px
	}

	#solucao-contato h2 {
		font-size: 35px;
		line-height: 42px
	}

	#solucao-contato.home-footer h2 {
		font-size: 31px
	}

	#footer .footer-copyright {
		text-align: center;
		font-size: 14px;

		a {
			display: block;
			font-size: 15px;
			padding: 15px 0;
			margin: 0 auto;
			clear: both;
			float: none!important;
		}

		span {
			float: none;
		}
	}

	#page404 .container {
		h2 {
			font-size: 33px;
			line-height: 43px;
		}

		p {
			font-size: 17px;
			margin-bottom: 45px
		}
	}
}

@media (min-width: 768px) and (max-height: 700px) {
	#content {
		padding-top: 3%
	}

	#contato {
		.bg {
			padding: 68px 0
		}

		.left-block {
			padding-top: 172px
		}
	}
}

@media (max-height: 660px) {
	#page404 .container {
		top: 0;
		-webkit-transform: translateY(0);
	    -moz-transform: translateY(0);
	    -o-transform: translateY(0);
	    transform: translateY(0);
	    padding: 20px 0;

	    .box {
	    	box-sizing: border-box;
	    	padding: 50px 10px
	    }
	}
}

@media (max-height: 599px) {
	#modal {
		.box, .fade {
			position: absolute;
		}

		.box {
		    top: 2%;
		    -webkit-transform: translate(-50%, 2%);
		    -moz-transform: translate(-50%, 2%);
		    -o-transform: translate(-50%, 2%);
		    transform: translate(-50%, 2%);
		}
	}
}