html {
	height: 100%;
}

::-moz-selection {
    background: #EF5350;
    color: #fff;
}

::selection {
    background: #EF5350;
    color: #fff;
}

.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }
.clearfix { clear: both; *zoom: 1; }

.container {
	width: 95%
}

.center-block {
	float: none!important;
}

body {
	font-family: 'Open Sans', sans-serif;
}

strong {
	font-weight: bold
}

.separator {
	border-bottom: 1px solid #ffebee;
}

a.grey-text.text-lighten-3:hover {
	color: #fff!important
}

.cover {
	width: 100%;
	background-size: cover;
	background-position: center center;
	position: relative;
	display: block;

	.filter {
		background-color: rgba(0,0,0,.35);
		width: 100%
	}

	.container {
		padding: 90px 0;

		h1 {
			color: #fff;
			margin: 0 auto;
			text-align: center;
			text-shadow: 1px 1px 0px rgba(0, 0, 0, 1)
		}
	}
}

.w126 {
	max-width: 126px
}

.card {
	box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 0 5px 0 rgba(0,0,0,.12), 0 3px 1px -2px rgba(0,0,0,.2);

	.card-image {
		padding-bottom: 15px;
		overflow: hidden;

		img {
			margin-top: -20px;
		}

		.card-title {
		    text-align: center;
		    width: 100%;
		    padding: 8px 24px;
		    background-color: rgba(183,37,30,.85);
		}
	}

	.card-content {
		min-height: 185px;
	}
}